@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.hero-container {
	background-image: url("./assets/images/herobg-min.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
}

.hero-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0;
}

.hero-animation {
	animation: scroll 30s linear infinite;
}

@keyframes scroll {
	/* from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	} */
	0% {
		transform: translate(100%);
	}

	50% {
		transform: translate(0%);
	}

	100% {
		transform: translate(-100%);
	}
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
